
body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}

img {
    position: relative;
    max-width: 600px;
    top: 15px;
}

#test {
    position: relative;
    left: 270px;
    top: -110px;
    background-color: rgba(220,194,122);
    border-radius: 25px;  
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:rgb(186,113,63);
}

#score {
    position: relative;
    background: white;
    width: 25%;
    top: -75px;
    height: 110px;
    background-color: rgba(220,194,122, 0.3);
    color:rgb(186,113,63);
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;  
    padding-top: 25px;
    padding-left: 15px;
    font-size: 24px;
}

#timer {
    position: relative;
    background: white;
    font-size: 65px;
    float: right;
    width: 25%;
    top: -205px;
    height: 102px;
    background-color: rgba(220,194,122, 0.3);
    color: rgb(186,113,63);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;  
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding-top: 23px;
}

#trivianight {
    position: relative;
    margin: auto;
    max-width: 600px;
    height: 380px;
    background-color:  rgba(255, 207, 167, 0.00);
}

#question {
    position: relative;
    max-width: 600px;
    background-color: rgba(197,163,128, 0.6);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px; 
    padding: 10px;
    word-wrap: break-word;
}

.answerwrapper {
    position: relative;
    margin: auto;
    max-width: 600px;
    height: 340px;
    background-color: rgba(255,255,255, 0.6);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;  
    padding: 20px;
}