
body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
}

.guess {
    width: 400px;
}

.guess:hover {
    background-color:rgb(186,113,63);
    width: 400px;
    border-radius: 15px; 
}


img {
    position: absolute;
    max-width: 600px;
    top: 20px;
    left: 0px;
}

#start {
    position: relative;
    left: 270px;
    top: -50px;
    background-color: rgba(220,194,122);
    border-radius: 25px;  
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:rgb(186,113,63);
}

#score {
    position: relative;
    background: white;
    float: left;
    width: 150px;
    height: 125px;
    top: 220px;
    background-color: rgba(220,194,122, 0.3);
    color:rgb(186,113,63);
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;  
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
}

#timer {
    position: relative;
    background: white;
    float: right;
    top: 220px;
    font-size: 65px;
    width: 150px;
    height: 102px;
    background-color: rgba(220,194,122, 0.3);
    color: rgb(186,113,63);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;  
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding-top: 25px;
}

#trivianight {
    position: relative;
    margin: auto;
    max-width: 600px;
    height: 380px;
    background-color:  rgba(255, 207, 167, 0.00);
}

#question {
    position: relative;
    background-color: rgba(197,163,128, 0.6);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px; 
    text-align: center;
    padding: 20px;
}

.boxwrapper {
    max-width: 600px;
    height: 380px;
    background-color: rgba(255,255,255, 0.6);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;  
    font-size: 20px;
}

.guesswrapper {
    position: relative;
    left: 100px;
    width: 200px;
}

.trythis {
    position: absolute;
    margin: auto;
    height: 412px;
    max-width: 600px;
    position: relative;
}